/*body {*/
/*    margin: 2vh;*/
/*    font-family: 'Roboto Slab', serif;*/
/*    font-size: 2vh;*/
/*    line-height: 5.5vh;*/
/*}*/
img {
    height: 50%;
}
#grid {
    margin: auto;
    padding-block-start: 20px;
    height: fit-content;
    width: 80%;
    writing-mode: horizontal-tb;
    display: grid;
    grid-gap: 4vh;
    grid-template-columns: repeat(15, 10vh);
}


.span{
    height: fit-content;
    background-color: white;
    grid-row-end: span 5;
    margin-right: 5px;
}