img {
    height: 45%;
}
#grid {
    margin: auto;
    /*margin-left: 30vh;*/
    /*margin-right: 100px;*/
    /*margin: inherit;*/
    /*padding-block-start: 20px;*/
    align-items: center;
    height: fit-content;
    width: 100vh;
    writing-mode: lr;
    display: contents;
    grid-gap: 4vh;
    grid-template-columns: repeat(10, 10%);
}


/*.span{*/
/*    height: fit-content;*/
/*    background-color: white;*/
/*    grid-row-end: span 5;*/
/*    margin-right: 20px;*/
/*}*/