img {
    height: 50%;
}
#grid {
    margin: 0 auto;
    padding-block-start: initial;
    height: fit-content;
    width: 85%;
    writing-mode: horizontal-tb;
    display: inline-grid;
    grid-gap: 4vh;
    grid-template-columns: repeat(15, 15vh);
}


.span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: inherit;
    grid-row-end: span 5;
    margin: 5px;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
    img {
        height: 30%; /* Adjust the height as per your requirements */
    }

    #grid {
        width: 100%; /* Make the grid occupy the full width of the screen */
        grid-template-columns: repeat(5, 20%); /* You can adjust the number of columns and their widths */
        grid-gap: 2vh; /* Adjust the gap between grid elements */
    }

    .span {
        margin-right: 2px; /* Adjust the margin for grid elements on mobile */
    }
}