

.card{;
    border-radius: 40px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.1s;
    width: 12%;
    float: left;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 12px 18px;
}
.card-title {
    text-align: center;
    padding: 8px;
}

.card-img-top{
    height: auto;
    width: auto;
    alignment: center;
}

.card-text-location{
    text-align: center;
    font-size: small;
}

.cardBtnPrimary{
    padding-inline: inherit;
    alignment: center;
    text-align: center;

}

.icon {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 5px solid red;
    border-radius: 100%;
}

.icon::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 1px 0 0 -6px;
    display: block;
    content: '';
    border: 6px solid transparent;
    border-top: 10px solid red;
    border-bottom: none;
}

.card-rating{
    text-align: left;
    padding-right: 5px;
    font-size: 12px;
}

