
.m-2_propertyDetailDescription{
    padding-top: 5vh;
    padding-left: 20vh;
}

/* .property {

} */

.checkAvailability{
    padding-left: 2vh;
}

.property__name {
    font-weight: bold;
    font-size: 30px;
    padding-left: 8vh;
    padding-top: 4vh;
}

.property__rating{
    padding-top: 2vh;
    padding-left: 8vh;
    padding-bottom: 2vh;
}

.property__reviews {
    padding-left: 4vh;
}

#carouselExampleIndicators{

    width: 900px;
    height: 900px;
    max-width: 100%;
    margin: 0 auto;
}
.carousel-control-next, .carousel-control-prev{
    margin-bottom: 30vh;
}


input {
    padding:10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 0 !important;
}

.form-control {
    border-radius: 0 !important;
    font-size: 12px;
}

.clickable { cursor: pointer; }


.form-group_checkin{
    position: relative;
    width: 100px;
}