.inputForm {
    display: block;
    /*display: inline-block;*/
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

h1{
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;
    max-width: 600px;
    box-sizing: border-box;
}
h2{
    margin: 0px;
}

.input_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 600px;
    background-image: linear-gradient(to right, #64B2CC 30%, #657980);
}

fieldset{
    border-width: 5px;
    padding: 10px 20px 20px 20px;
    border-color: #f2f2f2;
    justify-content: center;
}

.input_box{
    display: block;
    margin: 0 auto;
    padding: 12px 0px;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    background-color: #3E6F80;
    color: white;
    cursor: pointer;
}

.reservation-dates {
    display: flex;
    justify-content: space-between;
}


