.input-wrapper{
    background-color: inherit;
    color: inherit;
    border-radius: 10px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
    position: relative;
}

input {
    background-color: transparent;
    border:none;
    height: 100%;
    width: 100%;
    margin-left: 5px;
    font-size: 1.10rem;
}

input:focus{
    outline: none;
}

#search-icon {
    color: royalblue;
}


/*!* Dark mode styles *!*/
/*.dark .input-wrapper {*/
/*    background-color: #333333;*/
/*    color: #ffffff;*/
/*}*/

/*.dark input {*/
/*    color: #ffffff;*/
/*}*/

/*.dark #search-icon {*/
/*    color: #9b59b6; !* Choose a color for the search icon in dark mode *!*/
/*}*/