body {
    overflow-x: hidden; /* hides horizontal scrolling */
}

.m-2_propertyDetailDescription,
.property__about {
    padding-top: 5vh;
    padding-left: 8vh;

    .property__about-title {
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.checkAvailability {
    padding-left: 2vh;
}

.property__name {
    font-weight: bold;
    font-size: 30px;
    padding-left: 8vh;
    padding-top: 4vh;
}

.property__rating {
    padding-top: 2vh;
    padding-left: 8vh;
    padding-bottom: 2vh;
}

#carouselExampleIndicators {
    width: 900px;
    height: 900px;
    max-width: 100%;
    margin: 0 auto;
    margin-inline-end: auto;
}

input {
    padding: 10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 0 !important;

    &.form-control {
        border-radius: 0 !important;
        font-size: 12px;
    }
}

.clickable {
    cursor: pointer;
}

.form-group_checkin {
    position: relative;
    width: 100px;
}

.propertyPageReviewSection {
    padding-left: 45vh;
    padding-top: 10vh;
}

.property_facilities {
    display: inline;
    flex-wrap: nowrap;
    justify-content: space-between;
}
