.property__about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


    @media (max-width: 767px) {
        padding: 10px;

        .property__about-title {
            font-size: 1.2rem;
        }
    }
}
